
PAP/nbproject/private
tmp/
tmp_*
*.old
*.old/
/PAP.old/nbproject/private/
/PAPProjWeb/nbproject/private/
/PAPProjJPA/nbproject/private/
/PAPProjJPA/build/
/PAPProjWeb/build/
/PAPProj/build/
/PAPProjEJB/nbproject/private/
/PAPProjEJB/build/
/PAPProjEJB/dist/
~$*
/PAPProjEJBv2/nbproject/private/
/PAPProjEJBv2/build/
/PAPProjEJBv2/dist/
/PAPProjEJBv3/nbproject/private/
/PAPProjEJBv3/build/
/PAPProjEJBv3/dist/
/testeJPA/nbproject/private/
/testeJPA/build/
/MeuCinema/build/
/MeuCinema/nbproject/private/
/PAPProjEJB.tmp/build/
/PAPProjEJB.tmp/dist/
/PAPProjEJB.tmp/nbproject/private/