
PAP/nbproject/private
tmp/
tmp_*
*.old
*.old/
/PAP.old/nbproject/private/
/PAPProjWeb/nbproject/private/
/PAPProjJPA/nbproject/private/
/PAPProjJPA/build/
/PAPProjWeb/build/
/PAPProj/build/
/PAPProjEJB/nbproject/private/
/PAPProjEJB/build/
/PAPProjEJB/dist/
~$*
